@font-face {
  font-family: altaRegularFont;
  src: url(./assets/Alta_regular.otf);
}

@font-face {
  font-family: Britanny;
  src: url(./assets/BrittanySignature.ttf);
}

* {
  font-family: altaRegularFont;
}

/* General styles */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainSection {
  flex-grow: 1;
  background-color: #f0f0e5;
}

/* Logo styling */
.logo {
  width: 80px;
  height: auto;
  object-fit: cover;
}

/* Navbar styling */
.nav {
  background-color: #FFFFFF;
  background-image: linear-gradient(77deg, #FFFFFF 22%, #fde6de 62%, #fbcfc4 100%);
  font-weight: bold;
}

/* Responsive adjustments for Navbar */
.navbar-nav .nav-link {
  margin-right: 1rem;
}

.navbar-nav .btn {
  margin-left: 0.5rem;
}

/* Ensure the collapsed menu looks good */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .navbar-nav .btn {
    margin-top: 0.5rem;
  }
}

/* Banner styling */
.banner {
  width: 100%;
  margin-top: 0;
  height: 400px;
  object-fit: cover;
}



/*INICIO*/

.tituloInicio {
  font-family: Britanny;
}

/*Footer*/
.footer {

  display: flex;
  flex-direction: column;
  /* Asegura que los elementos hijos se apilen verticalmente */
}

#infoFooter {

  font-family: Britanny;
  background-color: #FFFFFF;
  background-image: linear-gradient(77deg, #FFFFFF 22%, #fde6de 62%, #fbcfc4 100%);


}

.title-main {

  text-align: center;
  /* Centra el texto horizontalmente */
  margin-top: 50px;
  /* Agrega un margen superior para separarlo de las cards */
  height: 455px;
}

.title-main h2 {
  font-size: 50px;
  font-family: Britanny;
}

.title-main .subtitle {
  position: relative;
  top: 30px;
  font-family: cursive;
  font-size: 16px;
  /* Tamaño del subtítulo */
  color: black;
  /* Color del subtítulo */
}

.title-main .minisub {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  color-scheme: #666;
  padding: 10px;
}

.logotipo {
  max-width: 150px;
  /* Define el tamaño máximo de la imagen */
  margin-top: 5px;
}

.downFooter {
  background-color: fbcfc4;
}

@media (max-width: 768px) {
  .title-main {
    height: 500px;
  }

}

/*Card INICIO*/

.pInicio {
  font-family: cursive;
  font-size: 17px;

}

.custom-card {
  width: calc(100%);
  /* Ajustar el ancho de las tarjetas y reducir el margen */
  margin-bottom: 50px;
  /* Reducir el margen inferior entre las tarjetas */
  background-color: #000 !important;
  color: white !important;
  transition: transform 0.3s ease;
  border: none;
  border-radius: none;
}

.custom-card:hover {
  transform: translateY(-5px);
}



.custom-card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}

.custom-card .card-title {
  font-family: Britanny;
  font-size: 55px;
  margin-bottom: 10px;
  /* Reducir el margen inferior del título */
}

.custom-card .card-text {
  font-family: cursive;
  font-size: 15px;
  margin: 0 10px;
  text-align: center;
  text-decoration: black;
}

/*CURSOS*/
.borde-card {
  border: 12px solid red; /* Cambia el color y ancho del borde aquí */
}

.bg-card-cursos{
 background-color: #f8c1d4;
}
.texto-curso{
  color: #4A4A4A;
}
.btn-cursos{
  background-color: #E91E63 !important;
  border: 0px !important;
  transition: background-color 0.3s ease;

}
.btn-cursos:hover {
  background-color: #f8c1d4 !important; /* Cambia a un tono más oscuro de rosa al hacer hover */
  color: #4A4A4A !important;
}

.formCursosContainer{
  width: 400px;
  padding: 20px;
  height: auto;
  border: 1px solid #FFD700;
}

.hola{
  display: flex;
  justify-content: center;
}

.error404{
  width: 100vh;
  height: 110vh;
  display: flex;
  justify-content: center;

}



/*---------------------------SERVICIOS----------------------------*/
.ConteinerCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin: 0 auto;
}

.cardServicios {
  position: relative;
  width: 300px;
  height: 350px;
  perspective: 1000px;
  box-sizing: border-box;
  margin: 10px;
}

.cardServicios .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
}

.cardServicios .front {
  transform: rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.cardServicios .front .img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardServicios .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
}

.cardServicios .back {
  transform: rotateY(180deg);
  background-color: #e91e63;
  padding: 15px;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 10px #000;
}

.cardServicios .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.cardServicios .back p {
  letter-spacing: 1px;
}

.cardServicios:hover .front {
  transform: rotateY(180deg);
}

.cardServicios:hover .back {
  transform: rotateY(360deg);
}

/* Para pantallas más pequeñas */
@media (max-width: 1024px) {
  .ConteinerCards {
    justify-content: center;
  }
  .cardServicios {
    width: calc(50% - 40px); /* Dos tarjetas por fila en pantallas medianas */
  }
}

@media (max-width: 768px) {
  .cardServicios {
    width: calc(100% - 40px); /* Una tarjeta por fila en pantallas pequeñas */
  }
}
